In [32]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [33]:
engagement_df = pd.read_csv('takehome_user_engagement.csv')
users_df = pd.read_csv('takehome_users.csv', encoding='latin1')

In [34]:
engagement_df.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [35]:
users_df.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,4/22/14 3:53,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,11/15/13 3:45,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,3/19/13 23:14,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,5/21/13 8:09,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,1/17/13 10:14,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [36]:
engagement_counts = {}

for index,row in engagement_df.iterrows():
    if row['user_id'] in engagement_counts:
        engagement_counts[row['user_id']] += 1
    else:
        engagement_counts[row['user_id']] = 1

In [37]:
engagement_counts_df = pd.DataFrame.from_dict(engagement_counts, orient='index')
engagement_counts_df.columns= ['visit_count']

In [38]:
engagement_counts_df = engagement_counts_df.reset_index(drop=False)

In [39]:
engagement_counts_df.columns=['user_id', 'visit_count']
engagement_counts_df.head()

   user_id  visit_count
0        1            1
1        2           14
2        3            1
3        4            1
4        5            1

In [40]:
adopted_user_engagement_counts = engagement_counts_df[engagement_counts_df['visit_count'] >= 3]
adopted_user_engagement_counts.head()

    user_id  visit_count
1         2           14
7        10          284
13       20            7
24       33           18
28       42          342

In [41]:
adopted_user_engagement_df = engagement_df[engagement_df['user_id'].isin(adopted_user_engagement_counts['user_id'])]

In [46]:
users_df['last_session_creation_time'] = pd.to_datetime(users_df['last_session_creation_time'], unit='s')

In [49]:
users_df['creation_time'] = pd.to_datetime(users_df.creation_time)

In [55]:
users_df['creation_time_difference'] = users_df['last_session_creation_time'].sub(users_df['creation_time'], axis=0)
users_df['creation_time_difference'] = users_df['creation_time_difference'] / np.timedelta64(1, 'D')
users_df.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_time_difference
0,1,2014-04-22 03:53:00,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,0.000347
1,2,2013-11-15 03:45:00,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,136.000046
2,3,2013-03-19 23:14:00,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0,0.000602
3,4,2013-05-21 08:09:00,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0,1.000324
4,5,2013-01-17 10:14:00,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0,5.000231

In [60]:
users_df = users_df[users_df.creation_time_difference > 7]
users_df.rename(columns={'object_id': 'user_id'}, inplace=True)
users_df.head(20)

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_time_difference
1,2,2013-11-15 03:45:00,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,136.000046
9,10,2013-01-16 22:08:00,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,2014-06-03 22:08:03,1,1,318,4143.0,503.000035
19,20,2014-03-06 11:46:00,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,2014-05-29 11:46:38,0,0,58,NaN,84.000440
32,33,2014-03-11 06:29:00,Araujo Jos,JoseMartinsAraujo@cuvox.de,GUEST_INVITE,2014-05-31 06:29:09,0,0,401,79.0,81.000104
41,42,2012-11-11 19:05:00,Pinto Giovanna,GiovannaCunhaPinto@cuvox.de,SIGNUP,2014-05-25 19:05:07,1,0,235,NaN,560.000081
42,43,2012-12-31 07:13:00,Gomes Beatrice,vgqmpljq@yyyxt.com,GUEST_INVITE,2013-04-15 07:13:17,0,0,63,149.0,105.000197
49,50,2012-06-03 11:02:00,Oliveira Gabrielly,GabriellyAlmeidaOliveira@gmail.com,GUEST_INVITE,2012-10-23 11:02:08,0,0,61,50.0,142.000093
52,53,2013-02-09 23:47:00,Ribeiro Camila,CamilaGomesRibeiro@gmail.com,GUEST_INVITE,2013-05-05 23:47:15,0,0,37,3641.0,85.000174
58,59,2014-03-07 03:21:00,Barbosa çgatha,AgathaCavalcantiBarbosa@gmail.com,SIGNUP_GOOGLE_AUTH,2014-06-01 03:21:57,0,0,325,NaN,86.000660
59,60,2014-03-21 22:56:00,McEacharn Archie,ArchieMcEacharn@gmail.com,ORG_INVITE,2014-05-15 22:56:03,0,0,88,3463.0,55.000035
62,63,2012-12-20 16:30:00,Martins Leonor,LeonorAraujoMartins@gmail.com,SIGNUP_GOOGLE_AUTH,2014-06-04 16:30:52,0,0,203,NaN,531.000602
68,69,2012-06-29 10:15:00,Bowen Alisha,AlishaBowen@gustr.com,GUEST_INVITE,2014-05-30 10:15:18,0,0,107,5022.0,700.000208
73,74,2013-01-14 00:02:00,Farrell Jack,JackFarrell@gmail.com,SIGNUP_GOOGLE_AUTH,2013-08-24 00:02:41,0,0,89,NaN,222.000475
76,77,2012-12-20 16:31:00,Melo Isabella,IsabellaSilvaMelo@jourrapide.com,SIGNUP,2013-01-17 16:31:21,1,1,68,NaN,28.000243
79,80,2014-02-28 21:30:00,Silva Samuel,SamuelBarbosaSilva@jourrapide.com,ORG_INVITE,2014-05-04 21:30:38,1,1,49,238.0,65.000440
80,81,2013-06-26 03:57:00,Cardoso Rafael,RafaelCostaCardoso@yahoo.com,PERSONAL_PROJECTS,2014-05-28 03:57:41,1,0,185,NaN,336.000475
81,82,2013-02-12 02:10:00,Nygaard Nicklas,NicklasJNygaard@gmail.com,GUEST_INVITE,2014-06-04 02:10:40,0,0,91,3732.0,477.000463
86,87,2013-09-11 22:53:00,Martins Isabela,IsabelaAzevedoMartins@jourrapide.com,SIGNUP,2014-05-22 22:53:29,1,0,26,NaN,253.000336
94,95,2014-03-09 06:30:00,Pickering Natasha,NatashaPickering@gmail.com,PERSONAL_PROJECTS,2014-05-01 06:30:04,0,0,119,NaN,53.000046
95,96,2014-03-12 00:33:00,Bach Mohamed,MohamedFBach@gmail.com,ORG_INVITE,2014-03-25 00:33:22,0,0,130,451.0,13.000255

In [62]:
final_users_df = users_df[users_df.user_id.isin(adopted_user_engagement_counts.user_id)]
final_users_df.head(20)

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_time_difference
1,2,2013-11-15 03:45:00,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,136.000046
9,10,2013-01-16 22:08:00,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,2014-06-03 22:08:03,1,1,318,4143.0,503.000035
19,20,2014-03-06 11:46:00,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,2014-05-29 11:46:38,0,0,58,NaN,84.000440
32,33,2014-03-11 06:29:00,Araujo Jos,JoseMartinsAraujo@cuvox.de,GUEST_INVITE,2014-05-31 06:29:09,0,0,401,79.0,81.000104
41,42,2012-11-11 19:05:00,Pinto Giovanna,GiovannaCunhaPinto@cuvox.de,SIGNUP,2014-05-25 19:05:07,1,0,235,NaN,560.000081
42,43,2012-12-31 07:13:00,Gomes Beatrice,vgqmpljq@yyyxt.com,GUEST_INVITE,2013-04-15 07:13:17,0,0,63,149.0,105.000197
49,50,2012-06-03 11:02:00,Oliveira Gabrielly,GabriellyAlmeidaOliveira@gmail.com,GUEST_INVITE,2012-10-23 11:02:08,0,0,61,50.0,142.000093
52,53,2013-02-09 23:47:00,Ribeiro Camila,CamilaGomesRibeiro@gmail.com,GUEST_INVITE,2013-05-05 23:47:15,0,0,37,3641.0,85.000174
58,59,2014-03-07 03:21:00,Barbosa çgatha,AgathaCavalcantiBarbosa@gmail.com,SIGNUP_GOOGLE_AUTH,2014-06-01 03:21:57,0,0,325,NaN,86.000660
59,60,2014-03-21 22:56:00,McEacharn Archie,ArchieMcEacharn@gmail.com,ORG_INVITE,2014-05-15 22:56:03,0,0,88,3463.0,55.000035
62,63,2012-12-20 16:30:00,Martins Leonor,LeonorAraujoMartins@gmail.com,SIGNUP_GOOGLE_AUTH,2014-06-04 16:30:52,0,0,203,NaN,531.000602
68,69,2012-06-29 10:15:00,Bowen Alisha,AlishaBowen@gustr.com,GUEST_INVITE,2014-05-30 10:15:18,0,0,107,5022.0,700.000208
73,74,2013-01-14 00:02:00,Farrell Jack,JackFarrell@gmail.com,SIGNUP_GOOGLE_AUTH,2013-08-24 00:02:41,0,0,89,NaN,222.000475
76,77,2012-12-20 16:31:00,Melo Isabella,IsabellaSilvaMelo@jourrapide.com,SIGNUP,2013-01-17 16:31:21,1,1,68,NaN,28.000243
79,80,2014-02-28 21:30:00,Silva Samuel,SamuelBarbosaSilva@jourrapide.com,ORG_INVITE,2014-05-04 21:30:38,1,1,49,238.0,65.000440
80,81,2013-06-26 03:57:00,Cardoso Rafael,RafaelCostaCardoso@yahoo.com,PERSONAL_PROJECTS,2014-05-28 03:57:41,1,0,185,NaN,336.000475
81,82,2013-02-12 02:10:00,Nygaard Nicklas,NicklasJNygaard@gmail.com,GUEST_INVITE,2014-06-04 02:10:40,0,0,91,3732.0,477.000463
86,87,2013-09-11 22:53:00,Martins Isabela,IsabelaAzevedoMartins@jourrapide.com,SIGNUP,2014-05-22 22:53:29,1,0,26,NaN,253.000336
94,95,2014-03-09 06:30:00,Pickering Natasha,NatashaPickering@gmail.com,PERSONAL_PROJECTS,2014-05-01 06:30:04,0,0,119,NaN,53.000046
125,126,2013-08-09 12:00:00,Rodrigues Tnia,TaniaAlvesRodrigues@gmail.com,ORG_INVITE,2013-09-24 12:00:02,1,1,112,5348.0,46.000023

In [63]:
final_users_df.creation_source.value_counts()

ORG_INVITE            782
GUEST_INVITE          501
SIGNUP                418
SIGNUP_GOOGLE_AUTH    310
PERSONAL_PROJECTS     231
Name: creation_source, dtype: int64

In [69]:
final_users_df.groupby('creation_source').size() * 100 / len(final_users_df)

creation_source
GUEST_INVITE          22.346120
ORG_INVITE            34.879572
PERSONAL_PROJECTS     10.303301
SIGNUP                18.644068
SIGNUP_GOOGLE_AUTH    13.826940
dtype: float64

For adopted users, the most common form of account creation appears to be being invited by an organization. About 35% of adopted users were invited by an organization. 22% of adopted users were invited by a guest, 18% of adopted users signed up via the website, 14% signed up using google authentication, and 10% are doing personal projects.

In [64]:
final_users_df.opted_in_to_mailing_list.value_counts()

0    1665
1     577
Name: opted_in_to_mailing_list, dtype: int64

Interestingly, it appears that most adopted users have not opted into receiving marketing emails.

In [65]:
final_users_df.enabled_for_marketing_drip.value_counts()

0    1895
1     347
Name: enabled_for_marketing_drip, dtype: int64

It also appears that most adopted users are not on the regular marketing email drip

# Conclusion

It appears that most adopted users are developed through references less so through the company's marketing strategy. To continue increasing the amount of adopted users moving forward I would recommend that the company provides incentives for current adopted users to refer other potential users and also alter the email marketing strategy as it has not shown to be effective thus far.